.App {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url('/img/stories-in-glass.jpg');


  .main {
    h6 {
      color: #de8484;
      font-size: 1.5rem;
      width: 67%;
      margin: 0 auto;
      padding: 4rem;
      text-align: justify;
    }
  }

  .col-6 {
    flex: 50%;
    margin: 1rem;
  }

  .container {
    max-width: 60%;
    margin: 0 auto;
  }

  .sp-container {
    background: #de848417;
    margin-bottom: 2rem;

    .sp-content {
      padding: 5rem;
    }

    ul {
      text-align: left;
      list-style-type: square;
    }

    li {
      font-size: 1.6rem;
    }
  }

  .main-form {
    background: #0d131ca6;
    padding: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    z-index: 10;

    .MuiInput-underline:before {
      border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    }

    .MuiSelect-root {
      z-index: 10;
    }

    input {
      background: transparent !important;
    }

    input#country {
      position: absolute;
      border: none;
      font-size: 1rem;
    }

    .card-element {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .main-form label, input {
    color: white;
  }

  button {
    background: #de84844f;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
  }

  h5 {
    color: #de8484;

    span {
      text-decoration: line-through;
    }
  }

  h6 {
    text-align: justify;
  }

  h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
  }

  .iris-info {
    background: #000;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5rem;

    .ella-img {
      padding: 10rem;
      background: url('/img/ella.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }

    h2 {
      margin-top: 0;
    }
  }

  .bottom-button {
    margin: 5rem;
  }
}

#vip-offer {
  
  .flexing {
    display: flex;
  }

  h1 > span {
    color: #de8484;
  }

  p {font-size: 1.3rem; text-align: justify;}
  li {font-size: 1.4rem; text-align: justify;}
}

#second-offer {
  
  .flexing {
    display: flex;
  }

  h1 > span {
    color: #de8484;
  }

  p {font-size: 1.3rem; text-align: justify;}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background: #000000e3;
  background: linear-gradient(90deg, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  padding: 1rem;

  img {max-width: 10rem; opacity: 0.9;}
}

footer {
  background: #000000e3;
  background: -webkit-linear-gradient(left, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  background: -o-linear-gradient(left, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  background: linear-gradient(to right, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  padding: 2rem;

  .socials img {
    max-width: 50px;
    padding: .2rem;
    opacity: 0.7;
  }
} 


/* MODAL CSS */

.modal-container, .almost-there {
  text-align: center;

  button {
    color: #fff;
    margin-top: 1.5rem;
  }

  input {
    background: #cc797a24;
    padding: 1rem;
    color: white;
  }

  textarea {
    color: white;
    font-size: 1.4rem;
  }

  label {
    color: white;
  }

  label.Mui-focused {
    color: white;
  }

  .modal-button {
    background: transparent;
    border: 1px solid #ce7a7b;
    padding: 1rem;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }

  /* Removing margin from Phone number modal flag icon */
  .thanks-form button {
    margin: 0;
  }
}

div[role="dialog"] {
  transition: 1s;
}

#alert-dialog-description {
  color: white;
  font-family: 'Roboto Condensed';
  text-align: center;
}

.title {
  h2 {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .button-qs button {
    background: #de84844f;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 1rem;
    border-radius: .5rem;
  }

  .button-qs button:hover {
    cursor: pointer;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .App-header .container {
    max-width: 80%;
  }
}