// Media breakpoints 
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 72em) { @content ; }
  }
   @else if $point == desktopMin {
     @media (min-width: 72em) { @content ; }
  }
   @else if $point == big {
     @media (max-width: 100em) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 60em) { @content ; }
  }
    @else if $point == laptopMin {
     @media (min-width: 60em) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}

.App {
  text-align: center;

  img {
    max-width: 100%;
  }

  .card-element img {
    width: 60%;
    padding: 2rem;
    box-sizing: border-box;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url('/img/stories-in-glass.jpg');

  .main {
    h6 {
      color: #de8484;
      font-size: 1.5rem;
      width: 67%;
      margin: 0 auto;
      padding: 4rem;
      text-align: justify;

      @include breakpoint(mobileonly) {
        margin-top: 1rem;
        width: 100% !important;
        padding: 0;
        font-size: .85rem;
      }
    }
  }

  .col-6 {
    flex: 50%;
    margin: 1rem;
  }


  .container {
    max-width: 60%;
    margin: 0 auto;

    .secret-button {
      width: 60vw;
      font-size: 2.3rem;
    }
  }

  .sp-container {
    background: #de848417;
    margin-bottom: 2rem;

    .sp-content {
      padding: 5rem;
    }

    ul {
      text-align: left;
      list-style-type: square;
    }

    li {
      font-size: 1.6rem;
    }
  }

  .main-form {
    background: #0d131ca6;
    padding: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    z-index: 10;

    .MuiInput-underline:before {
      border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    }

    .MuiSelect-root {
      z-index: 10;
    }

    input {
      background: transparent !important;
    }

    input#country {
      position: absolute;
      border: none;
      font-size: 1rem;
    }

    .card-element {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .main-form label, input {
    color: white;
  }

  button {
    background: #de84844f;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
  }

  h5 {
    color: #de8484;

    span {
      text-decoration: line-through;
    }
  }

  h6 {
    text-align: left;
  }

  h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
  }

  .iris-info {
    background: #000;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5rem;

    .ella-img {
      padding: 10rem;
      background: url('/img/ella.jpg');
      background-size: cover;
      background-position: center;
      width: 100%;
      top: 0;
      left: 0;
      box-sizing: border-box;

      @include breakpoint(mobileonly) {
        padding: 1.5rem;
      }
    }

    h2 {
      margin-top: 0;
    }
  }

  .bottom-button {
    margin: 5rem;
  }
}

#vip-offer {
  
  .flexing {
    display: flex;
  }

  h1 > span {
    color: #de8484;
  }

  p {font-size: 1.3rem; text-align: justify; letter-spacing: .07rem;}
  li {font-size: 1.4rem; text-align: left;}
}

#second-offer {
  
  .flexing {
    display: flex;
  }

  h1 > span {
    color: #ebd45f;
  }

  p {font-size: 1.3rem; text-align: justify; letter-spacing: .07rem;}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background: #000000e3;
  background: linear-gradient(90deg, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  padding: 1rem;

  img {max-width: 10rem; opacity: 0.9;}
}

footer {
  background: #000000e3;
  background: -webkit-linear-gradient(left, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  background: -o-linear-gradient(left, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  background: linear-gradient(to right, rgb(17, 20, 25) 0%, rgb(13, 20, 28) 100%);
  padding: 2rem;

  .socials img {
    max-width: 50px;
    padding: .2rem;
    opacity: 0.7;
  }
} 


/* MODAL CSS */

.modal-container {
  width: 50vw;
  max-width: 50vw;
  background: #020202fc;
  margin: 0 auto;
  margin-top: -3rem;
  padding: 2rem;
  padding-right: .5rem;
  padding-left: .5rem;

  div > div {
    background: #000;
  }
}

.modal-container, .almost-there {
  text-align: center;

  button {
    color: #fff;
    margin-top: 1.5rem;
  }

  input {
    background: #cc797a24;
    padding: 1rem;
    color: white;
  }

  textarea {
    color: white;
    font-size: 1.4rem;
  }

  label {
    color: white;
    z-index: 1;
  }

  label.Mui-focused {
    color: white;
  }

  .modal-button {
    background: transparent;
    border: 1px solid #ce7a7b;
    padding: 1rem;
  }

  h1, h2, h3, h4, h5, h6, p {
    color: white;
  }

  /* Removing margin from Phone number modal flag icon */
  .thanks-form button {
    margin: 0;
  }
}

div[role="dialog"] {
  transition: 1s;
}

#alert-dialog-description {
  color: white;
  font-family: 'Roboto Condensed';
  text-align: center;
}

.title {
  h2 {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .button-qs button {
    background: #de84844f;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    display: block;
    margin: 0 auto;
    width: 75%;
    margin-top: 1rem;
    border-radius: .5rem;
  }

  .button-qs button:hover {
    cursor: pointer;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .App-header .container {
    max-width: 80%;
  }
}

@media (max-width: 500px) {
  .App-header {
    .main h6 {
      padding: 0;
      width: 100%;
    }

    .bottom-button {
      margin: 1rem;
    }

    .sp-container { 
      .sp-content {
        padding: .5rem;
      }
      li {
        font-size: 1rem;
      }
    }
  }

  .App {
    .card-element {
      img {
        width: 100%;
      }
    }
  }

  footer {
    .socials {
      img {
        max-width: 40px;
      }
    }
  }

  #secret-lune {
    .secret-button {
      width: 100% !important;
    }
  }
}

@media (max-width: 800px) {
  .modal-container {
    max-width: 100%;
    width: 100%;

    div > div {
      box-sizing: border-box;
    }
  }

  .button-qs {
    #low, #medium, #high {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
    }
  }

  #vip-offer, #second-offer {
    .flexing {
      display: block;
    }
  }
}

#patreon, #secret-lune {
  background: linear-gradient(90deg, #111419 0%, #0d141c 100%);
  text-decoration: none;
  text-align: left;

  a {
    text-decoration: none;
  }

  .MuiPaper-root {
    height: 100%;
  }

  .MuiCardActions-root {
    position: absolute;
    bottom: 0;
    padding: 0;
  }

  h4 {
    padding: 3rem;
    text-align: center;
  }
}

#secret-lune {
  p {
    margin-bottom: 10px;
  }

  .secret-button {
    background: #de84844f;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
  }
}